# Pelican output directory
output/

# Cache files and temporary files
__pycache__/
*.pyc
*.pyo

# Virtual environment (if you use one)
venv/
env/
envs/
.virtualenv/

# Editor and IDE settings
.vscode/
*.swp
*.swo
*.swn

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp
*.log

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Hidden Pelican files
.cache/
